<div class="col-md-3">
  <div style="margin-top: 60px;">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- av_banner_category_2 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1391132134348179"
         data-ad-slot="2883283840"
         data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>
</div>
