<%= link_to artist, class: "production_box" do %>
  <div class="col-md-3">
    <div class="thumbnail">
      <%= image_tag artist.image.url, class: "album-image" %>
      <div class="btn-play"><%= image_tag "play" %></div>
      <div class="caption">
        <h5><%= artist.kh_name %></h5>
      </div>
    </div>
  </div>
<% end %>
