<div class="row">
  <div class="col-md-8">
    <div class="player">
      <div class="audio-player">
        <div class="bg-img"></div>
        <div class="promotion-img"></div>
        <div class="audio-control">
          <p class="audio-title"></p>
          <p class="audio-artist"></p>
          <p class="divider">|</p>
          <div class='glyphicon glyphicon-remove-circle btn-close'></div>
          <div class="glyphicon glyphicon-collapse-down btn-show-promotion"></div>
          <span class="glyphicon glyphicon-step-backward btn-prev"></span>
          <span class="glyphicon glyphicon-step-forward btn-next"></span>
          <span class="glyphicon glyphicon-repeat btn-repeat-song"></span>
          <span class="glyphicon glyphicon-retweet btn-repeat-album"></span>
          <audio id="audio-player" src="<%= @first.url %>" type="audio/mp3"></audio>
        </div>
      </div>
      <div class="playlist">
        <table class="table table-hover table-songs">
          <tbody>
            <%= render @songs %>
          </tbody>  
        </table>
      </div>
    </div>
  </div>
</div>

<div class="songs" hidden><%= @songs.to_json %></div>
